{
  "extends": "airbnb-standard",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "space-before-function-paren": ["error", "never"],
  }
}
